@{
    ViewData["Title"] = "Welcome Back Professor!";
}

<div>
    <h2><a href="/Client" class="Button">Manage Clients</a></h2>
</div>

<div>
    <h2><a href="/Professor/Members" class="Button">Manage Members</a></h2>
</div>

<div>
    <h2><a href="/Professor/Projects" class="Button">View Projects</a></h2>
</div>