@{
    ViewData["Title"] = "Home Page";
}

<form action="action_page.php">
  <div class="imgcontainer">

  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button id="login" type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked"> Remember me
    </label>
    
  </div>
  <div class="container" style="background-color:#f1f1f1">
  </div>
</form>
